@import "tailwindcss";
@import "tw-animate-css";

@layer base {
  * {
    @apply border-[#f3e3cf];
  }
  body {
    @apply bg-white text-[#333333];
  }

  input,
  select,
  textarea {
    @apply rounded-lg border border-[#f3e3cf] px-3 py-2 focus:outline-none focus:ring-2 focus:ring-[#FFD580];
  }
}